@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "IBM Plex Serif", serif;
    font-style: normal;
    text-align: center;
}

header {
    color: white;

    .navbar {
        .container-fluid {
            height: 50px;
            background-color: rgb(0, 0, 0);

            .navbar-brand {
                color: white;
                font-weight: 550;
                font-size: 25px;

                .navbar-toggler {
                    .navbar-toggler-icon {
                        .collapse {
                            .navbar-nav {
                                .nav-item {
                                    a {
                                        color: white;
                                        font-weight: 350;
                                    }

                                    .nav-link {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

main{
    background-image: url(../img/fondo.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .hero {
        height: 700px;
        width: 100%;
        background-image: url("../img/hero.jpg");
        background-size: cover;
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            h1 {
                background-color: #00000094;
                color: white;
                font-weight: 200;
                font-size: 350px;
                margin-top: 30px;
                border: 5px double white;
                height: 60%;
                width: 60%;
                transition: all 2s;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.555);
                    color: black;
                    transform: scale(1.1);
            }
        }
        p {
            color: white;
            font-weight: 300;
            font-size: 50px;
        }
        }
    }
    .botones{
        height: 800px;
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .boton-clase{
                background-image: url(../img/button.jpg);
                font-size: 80px;
                color: white;
                font-weight: 200;
                margin: 40px;
                height: 680px;
                width: 500px;
                transition: 1s;
                &:hover{
                    transform: scale(1.07, 1.07);
                }
                
            }
        }
    }

    .catalogo {
        margin: 30px;
        height: auto;
        border-top: 5px double white;
        border-bottom: 5px double white;

        .catalogo-1 {
            margin: 30px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                color: black;
                font-size: 100px;
                font-weight: 250;
                width: 80%;
                margin: 20px;
                border-top: 5px double black;
                border-bottom: 5px double black;
            }

            h3 {
                margin: 30px;
                color: black;
                font-size: 30px;
                font-weight: 300;
                background-color: rgba(255, 194, 147, 0.534);
                width: 100%;
                border-radius: 100px;
            }

            div {
                margin: 30px;
                input {
                    width: 600px;
                    height: 50px;
                    font-size: 25px;
                }

                button {
                    height: 50px;
                    width: 150px;
                    border-radius: 10px;
                    background-color: black;
                    color: white;
                    font-size: 25px;
                    font-weight: 250;
                    transition: all 1s;
                    &:hover{
                        color: black;
                        background-color: white;
                    }
                }
            }

            .productos{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                align-items: center;
                
                .card {
                    border: 1px solid #ddd;
                    border-radius: 8px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    padding: 16px;
                    margin: 16px;
                    height: 600px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    transition: 1s;
                    &:hover{
                        transform: scale(1.1);
                    }
                    .card-img-top {
                        max-width: 100%;
                        height: auto;
                        border-radius: 8px 8px 0 0;
                    }

                    .card-body {
                        .card-tittle {
                            font-size: 1.5rem;
                            margin-bottom: 8px;
                        }

                        .card-text {
                            font-size: 1rem;
                            margin-bottom: 8px;
                            color: #555;
                        }

                        .btn {
                            background-color: #007bff;
                            color: white;
                            padding: 8px 16px;
                            border: none;
                            border-radius: 4px;
                            cursor: pointer;
                            width: 110%;
                            font-size: 17px;

                            &:hover {
                                background-color: #0056b3;
                            }
                        }
                    }
                }
            }
        }

        .carro {
            height: auto;
            border: 5px solid rgb(0, 0, 0);
            border-radius: 50px;
            background-color: rgb(255, 255, 255);
            box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);

            h2 {
                color: rgb(0, 0, 0);
                font-size: 80px;
                font-weight: 350;
                width: 100%;
                margin: auto;
                background-color: rgba(255, 194, 147, 0.534);
                border-radius: 35px;

            
            }
            div{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: auto;
                margin: 15px;
                border: 2px solid black;
                border-radius: 20px;
                p{
                    font-size: 40px;
                    font-weight: 350;
                
                }
                button{
                    margin: 15px;
                    border: 1px solid white;
                    background-color: rgba(0, 0, 0, 0.788);
                    width: 10%;
                    font-size: 35px;
                    border-radius: 35px;
                    color: white;
                    font-weight: 200;
                }
            }
            .btn-cp{
                margin: 15px;
                border: 1px solid white;
                background-color: green;
                width: 20%;
                font-size: 35px;
                border-radius: 35px;
                color: white;
                font-weight: 200;
            }
        }
    }
}

footer {
    h2 {
        color: white;
    }
}